@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ptsans-400.woff2);
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ptsans-700.woff2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.content-container {
  color: #000000;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 1px #00000033;
}

.light-text {
  color: #333333;
  margin: 0;
  padding: 0;
}

.white-text {
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.main-header {
  margin: auto 70px;
}

.logo {
  position: absolute;
  left: 70px;
}

.navigation {
  padding-left: 168px;
  display: flex;
  justify-content: flex-start;

}

.navigation-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  text-decoration: none;
  color: black;
}

.navigation-item {
  padding: 20px 16px;
}

.navigation-user {
  margin: 0;
  margin-left: auto;
}

.search-icon {
  padding: 22px 12px;
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.likes {
  position: absolute;
  width: 20px;
  left: 8px;
  top: -11px;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.likes-icon {
  position: relative;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  padding: 22px 12px;
  background-image: url(../img/likes-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.dark-button {
  border-radius: 4px;
  background-color: #756157;
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer;
}

.dark-button:hover {
  background-color: #615048;
}

.dark-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-header {
  color: #FFFFFF;
  display: block;
  width: 92px;
  padding: 8px 34px;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.hero {
  margin-bottom: 69px;
  background-image: url(../img/hero-figure.svg), url(../img/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom center, center;
  text-align: center;
  min-height: 485px;
}

.hero-title {
  padding-top: 51px;
}

.section-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 620px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.reason-section-header {
  margin-bottom: 25px;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center
}

.reasons {
  margin-bottom: 65px;
  margin-top: 90px;
}

.reasons-title {
  text-align: center;
}

.grid-header {
  margin: 0 auto;
  width: 175px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.reasons-header {
  padding-bottom: 62px;
}

.reasons-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reasons-city-image {
  grid-column: 2 / span 2;
}

.reasons-devilbridge-image {
  grid-column: 1 / span 2;
}

.city-image, .devilbridge-image {
  display: block;
}

.reasons-item {
  position: relative;
  padding: 112.5px 85px;
  color: #000000;
  text-align: center;
}

.reasons-description {
  margin: 0;
}

.reasons-item-inverted {
  position: relative;
  padding: 102px 85px;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-align: center;
}

.advantages-section-header {
  width: 505px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.advantages-item {
  margin-top: 64px;
  padding: 183px 85px 81px 85px;
}

.burger {
  background-image: url(../img/advantage-food.svg);
  background-repeat: no-repeat;
  background-position: top 81px center;
  background-color: #ffffff;
  color: #000000;
}

.home {
  background-image: url(../img/advantage-home.svg);
  background-repeat: no-repeat;
  background-position: top 81px center;
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.present {
  background-image: url(../img/advantage-present.svg);
  background-repeat: no-repeat;
  background-position: top 79px center;
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-description {
  padding-top: 30px;
}

.interested {
  margin-top: 95px;
  text-align: center;
}

.interested-description {
  margin-bottom: 54px;
}

.search-hotels-button {
  display: inline-block;
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.subscribe {
  background-image: url(../img/subscribe-background.jpg);
  background-repeat: no-repeat;
  margin-top: 96px;
}

.subscribe-empty {
  color:#000000;
  margin-top: 96px;
}

.subscribe-header {
  padding-top: 96px;
}

.subscribe-description {
  margin: 0 auto;
  margin-bottom: 54px;
  width: 475px;
}

.subscribe-email {
  padding: 0;
  padding-left: 20px;
  margin-bottom: 10px;
  height: 52px;
  width: 432px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-email-catalog {
  background-color: #F2F2F2;
}

.subscribe-button {
  padding: 0;
  height: 52px;
  width: 232px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  border: none;
  box-shadow: none;
}

.subscribe-list {
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-bottom: 99px;
}

.main-footer {
  margin-left: 70px;
  margin-right: 70px;
  min-height: 120px;
}

.telephone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.contacts-list {
  margin-top: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 30px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  margin-top: 2px;
  margin-left: -1px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 142px;
}

.light-button {
  color: white;
  background-color: #82B3D3;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.light-button:hover {
  background-color: #68A2CA;
  cursor: pointer;
}

.light-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.text-clarification {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.breadcrumbs-list {
  position: relative;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  padding-left: 41px;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-list:first-child {
  padding: 0;
}

.breadcrumbs-arrow::after {
  position: absolute;
  content: "";
  background-image: url(../img/breadcrumbs-arrow.svg);
  height: 11px;
  width: 8px;
  top: 5px;
  left: 23px;
}

.breadcrumbs-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #FFFFFF;
}

.breadcrumbs-home::after {
  position: absolute;
  content: "";
  background-image: url(../img/breadcrumbs-home-icon.svg);
  background-repeat: no-repeat;
  width: 13px;
  height: 15px;
  left: 0;
  top: 3px;
}

.view-list {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
}

.view-item {
  border: 2px solid #E5E5E5;
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.view-icon {
  padding: 17px 16px;
}

.filters {
  padding-left: 70px;
  background-image: url(../img/filters-background.jpg);
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.filters-main-header {
  margin: 0;
  padding-top: 35px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-filter {
  padding: 0;
  display: grid;
  grid-template-columns: 150.43px 150.43px 0 288px 191px;
  gap: 70px;
}

.catalog-filter-set {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.options-item {
  position: relative;
}

.amount-filter {
  position: relative;
  display: flex;
  justify-content: space-between;
  grid-column-start: 4;
}

.catalog-filter-title {
  position: relative;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-title:nth-child(:first-child) {
  padding: 0;
}

.options-list {
  padding: 0;
  display: grid;
  gap: 16px;
  list-style-type: none;
  margin-top: 32px;
  margin-bottom: 73px;
}

.options-checkbox {
  position: relative;
}

.checkbox-mark {
  margin-top: 1.5px;
  margin-left: 1px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.options-checkbox:checked + .checkbox-mark::before {
  content:"";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../img/checkbox-item.svg);
  background-repeat: no-repeat;
  background-position: 4px 5.5px;
}

.checkbox-label {
  padding-left: 37px;
}

.hometype-radio {
  position: relative;
}

.radiobutton-mark {
  margin-left: 1px;
  margin-top: 1px;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.hometype-radio:checked + .radiobutton-mark::before {
  content:"";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
  top: 5px;
  left: 5px;
}

.radiobutton-label {
  padding-left: 37px;
}

.filter-buttons-set {
  width: 191px;
  border: none;
  margin: 0;
  padding: 0;
}

.filters-buttons-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-button {
  margin-top: 56px;
  width: 191px;
  height: 36px;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.filter-reset-button {
  margin-top: 32px;
}

.input-amount-field {
  margin-top: 32px;
  padding: 12px 50px 12px 20px;
  width: 73px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: start;
  border: none;
  outline: none;
}

.min-amount-field {
  border-radius: 4px 0 0 4px;
}

.max-amount-field {
  border-radius: 0 4px 4px 0;
}

.min-amount-label {
  position: relative;
}

.max-amount-label {
  position: relative;
}

.min-amount-placeholder {
  position: absolute;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  top: 44px;
  left: 106px;
}

.max-amount-placeholder {
  position: absolute;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  top: 44px;
  left: 104px;
}

.transparent-button {
  background: none;
  border: none;
  outline: none;
  color: #FFFFFF;
  cursor: pointer;
}

.all-bar {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.current-bar {
  width: 226px;
  height: 4px;
  background-color: #FFFFFF;
 }

 .min-amount-toggle {
  background-color: #FFFFFF;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
 }

 .max-amount-toggle {
  background-color: #FFFFFF;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  left: 50%;
 }

.search-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotels-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.hotels-item {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  margin-right: 20px;
  padding: 20px;
}

.hotels-item:last-child {
  margin-right: 0;
}

.page-buttons-list {
  display: flex;
  list-style-type: none;
  align-items: baseline;
}

.button-item {
  margin-right: 8px;
}

.button-item:last-child {
  margin-right: 0;
}

.card-header-link {
  text-decoration: none;
}

.rating-label {
  background-color: #F2F2F2;
}

.star-4 {
  background-image: url(../img/4-stars.png);
  background-repeat: no-repeat;
}

.star-3 {
  background-image: url(../img/3-stars.png);
  background-repeat: no-repeat;
}

.star-2 {
  background-image: url(../img/2-stars.png);
  background-repeat: no-repeat;
}

.dark-reason-background {
  background-color: #83B3D333;
}

.change-color-devlogo {
  padding-top: 4px;
  color: #000000;
}

.change-color-devlogo:hover {
  color: #756157;
}

.change-color-devlogo:focus {
  color: #756157;
}

.change-color-devlogo:active {
  color: rgba(117, 97, 87, 0.3);
}

.social-icon {
  color: #83B3D3;
}

.social-icon:hover {
  color: #68A2CA;
}

.social-icon:focus {
  color: #68A2CA;
}

.social-icon:active {
  color: rgba(104, 162, 202, 0.3);
}

.telephone {
  text-decoration: none;
  color: #000000;
}

.telephone:hover {
  color: #756157;
}

.telephone:focus {
  color: #756157;
}

.telephone:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-list a.active::after {
  position: absolute;
  display: block;
  bottom: -20px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #756257;
}


.reasons-header.dark-decorate-line::after {
  position: absolute;
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 2px;
  left: 170px;
  top: 198.5px;
}

.reasons-header.light-decorate-line::after {
  position: absolute;
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  width: 60px;
  height: 2px;
  left: 170px;
  top: 188px;
}
