@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ptsans-400.woff2);
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ptsans-700.woff2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0 auto;
  width: 1200px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
}

.content-container {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px 1px #00000033;
}

.light-text {
  color: #333333;
  margin: 0;
  padding: 0;
}

.white-text {
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.main-header {
  margin: auto 70px;
}

.logo {
  position: relative;
  margin-right: 28px;
}

.navigation {
  height: 64px;
  display: flex;
  justify-content: flex-start;
}

.navigation-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  list-style-type: none;
}

.navigation-link {
  text-decoration: none;
  color: black;
}

.navigation-item {
  padding: 20px 16px;
}

.navigation-user {
  margin: 0;
  margin-left: auto;
}

.search-icon {
  padding: 22px 12px;
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.likes {
  position: absolute;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  color: hsl(0, 0%, 100%);
  bottom: 5px;
  left: 5px;
}

.likes-background {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;
  left: 8px;
  bottom: 11px;
  text-align: center;
}

.likes-icon {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  padding: 22px 12px;
  background-image: url(../img/likes-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.dark-button {
  border-radius: 4px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  background-color: rgba(117, 97, 87, 1);
  text-transform: uppercase;
}

.button-header {
  color: #FFFFFF;
  display: block;
  width: 92px;
  padding: 8px 34px;
  text-align: center;
  text-decoration: none;
}

.hero {
  margin-bottom: 69px;
  background-image: url(../img/hero-figure.svg), url(../img/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom center, center;
  text-align: center;
  min-height: 485px;
}

.hero-title {
  padding-top: 51px;
}

.section-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 620px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.reason-section-header {
  margin-bottom: 25px;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center
}

.reasons {
  margin-bottom: 65px;
  margin-top: 90px;
}

.reasons-title {
  text-align: center;
}

.reasons-header {
  margin: 0 auto;
  width: 175px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.reasons-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reasons-city-image {
  grid-column: 2 / span 2;
}

.reasons-devilbridge-image {
  grid-column: 1 / span 2;
}

.city-image, .devilbridge-image {
  display: block;
}

.reasons-item {
  padding: 112.5px 85px;
  color: rgba(131, 179, 211, 0.12);
  color: #000000;
  text-align: center;
}

.reasons-description {
  margin: 0;
}

.reasons-item-inverted {
  padding: 102px 85px;
  background-color: rgba(130, 179, 211, 1);
  color: #FFFFFF;
  text-align: center;
}

.decorate-line {
  margin: 30px 85px;
  width: 60px;
  height: 2px;
}

.dark-decorate-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.light-decorate-line {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-section-header {
  width: 505px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.advantages-item {
  margin-top: 64px;
  padding: 183px 85px 81px 85px;
}

.burger {
  background-image: url(../img/advantage-food.svg);
  background-repeat: no-repeat;
  background-position: top 81px center;
  background-color: rgba(131, 179, 211, 0.12);
}

.home {
  background-image: url(../img/advantage-home.svg);
  background-repeat: no-repeat;
  background-position: top 81px center;
  background-color: rgba(131, 179, 211, 0.12);
}

.present {
  background-image: url(../img/advantage-present.svg);
  background-repeat: no-repeat;
  background-position: top 81px center;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-description {
  padding-top: 30px;
}

.interested {
  margin-top: 96px;
  text-align: center;
}

.interested-description {
  margin-bottom: 54px;
}

.search-hotels-button {
  display: inline-block;
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.subscribe {
  background-image: url(../img/subscribe-background.jpg);
  background-repeat: no-repeat;
  margin-top: 96px;
}

.subscribe-header {
  padding-top: 96px;
}

.subscribe-description {
  margin: 0 auto;
  margin-bottom: 54px;
  width: 475px;
}

.subscribe-email {
  padding: 0;
  padding-left: 20px;
  margin-bottom: 10px;
  height: 52px;
  width: 432px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  padding: 0;
  height: 52px;
  width: 232px;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  border: none;
  box-shadow: none;
}

.subscribe-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-bottom: 99px;
}

.main-footer {
  margin-left: 70px;
  margin-right: 70px;
  min-height: 120px;
}

.telephone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.contacts-list {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 30px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  width: 142px;
}

.light-button {
  color: white;
  background-color: rgba(130, 179, 211, 1);
}

.text-clarification {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.breadcrumbs-list {
  display: flex;
  list-style-type: none;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #FFFFFF;
}

.view-list {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
}

.view-item {
  border: 2px solid #E5E5E5;
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.view-icon {
  padding: 17px 16px;
}

.filters {
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.filters-main-header {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-filter-set {
  border: none;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.search-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotels-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.hotels-item {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  margin-right: 20px;
  padding: 20px;
}

.hotels-item:last-child {
  margin-right: 0;
}

.page-buttons-list {
  display: flex;
  list-style-type: none;
  align-items: baseline;
}

.button-item {
  margin-right: 8px;
}

.button-item:last-child {
  margin-right: 0;
}

.card-header-link {
  text-decoration: none;
}

.rating-label {
  background-color: rgba(242, 242, 242, 1);
}

.star-4 {
  background-image: url(../img/4-stars.png);
  background-repeat: no-repeat;
}

.star-3 {
  background-image: url(../img/3-stars.png);
  background-repeat: no-repeat;
}

.star-2 {
  background-image: url(../img/2-stars.png);
  background-repeat: no-repeat;
}

.dark-reason-background {
  background-color: #83B3D333;
}

.change-color-devlogo {
  padding-top: 3px;
  color: #000000;
}

.change-color-devlogo:hover {
  color: #756157;
}

.change-color-devlogo:focus {
  color: #756157;
}

.change-color-devlogo:active {
  color: rgba(117, 97, 87, 0.3);
}

.social-icon {
  color: #83B3D3;
}

.social-icon:hover {
  color: #68A2CA;
}

.social-icon:focus {
  color: #68A2CA;
}

.social-icon:active {
  color: rgba(104, 162, 202, 0.3);
}

.telephone {
  text-decoration: none;
  color: #000000;
}

.telephone:hover {
  color: #756157;
}

.telephone:focus {
  color: #756157;
}

.telephone:active {
  color: rgba(117, 97, 87, 0.3);
}
